body {
    background: #6f8691;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
    
  header,
  main,
  footer {
    margin: 1rem;
    position: relative;
  }
    
  
  h1 {
    color: rgb(178, 216, 40);
    padding: 1rem;
    text-align: center;
  }
    
  h2 {
    color: #1d4f66;
  }
  
  p {
    margin: 0;
  }
  
    
  main {
    margin-left: 2rem;
    text-align: center;
    
  }
  
   
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
    
  section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: rgb(78, 155, 85);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
    
  img {
    width: auto;
    max-width: 325px;
    height: 200px;
    margin: 1rem 0;
    box-shadow: 0 0 30px rgb(235, 46, 46);
    
  }
  
  footer {
    text-align: center;
    color: rgb(23, 241, 223);
    padding: 2rem;
  }
  
  
  