@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Domine:wght@700&family=Tajawal:wght@700&display=swap");

body {
  margin: 0 auto;
  text-align: center;
}

picture {
  display: block;
}

h1 {
  color: brown;
}
img {
  width:300px;
  height:400px;
  background-color: rgb(36, 36, 131);
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}