/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
}*/


.logo {
    width: 200px;
    height: auto;
    display: flex;
}

.social-icon {
    color: #555;
    transition: color 0.3s;
    height: auto;
    text-decoration: none;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: #fff;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(240, 236, 13, 0.3);
    color: darkorange;
}

nav ul li a:hover {
    background-color: rgba(240, 236, 13, 0.3);
    color:darkorange;
    transition: color 0.3s;
}


nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}


#mainSections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 350px);
    gap: .5rem;
    font-family: var(--hammersmith-one-font);
    color: #1D366F;
    padding: 2rem;
}

#mainSections .mainSection {
    background-color:white;
    padding: 1rem;
}

#mainSections #heroSection {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#mainSections #eventSection {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#mainSections #weatherSection {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

#mainSections #newsSection {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

#mainSections #spotlightsSection {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

#mainSections #joinSection {
    display: none;
}

#events {
    margin-right: 15%;
    margin-left: auto;
}

/* FOOTER */

footer {
    background-color: rgb(238, 108, 108);
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

footer #mainFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-family: var(--inter-font);
    gap: 2rem;
}

footer #mainFooter #logo2 {
    width: 150px;
}

footer #baseFooter {
    text-align: center;
    color: white;
    font-family: var(--inter-font);
}

footer #mainFooter #contactInformation {
    text-align: center;
    color: white;
}

footer #mainFooter #contactInformation :nth-child(2) {
    margin-top: 1.5rem;
}
#mainSections #heroSection picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#heroSection picture img:hover {
    opacity: .8;
    transform: scale(1.1);
}

#mainSections #heroSection h1 {
    position:absolute;
    margin-left: 18px;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: small;
    text-transform: uppercase;
    text-shadow: 5px 5px 4px red;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color:black;
}

#mainSections #heroSection .joinUsButton {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}
.joinUsButton {
    background-color: #4b94cf;
    color: white;
    border: none;
    border-radius: 4px;
    padding: .5rem 1em;
    transition: .1s ease-out;
    text-align: none;
}

.joinUsButton:hover {
    color: #d3395a;
    background-color: #F1F9F5;
    border: #24799D;
}
.joinUsB3utton {
    position:relative;
    bottom: 3rem;
    right: -5rem;
    background-color: #4b94cf;
    color: white;
    border: none;
    border-radius: 4px;
    padding: .5rem 1em;
    transition: .1s ease-out;
}
.joinUsB3utton:hover {
    color: #d3395a;
    background-color: #F1F9F5;
    border: #24799D;
}

/* WEATHER */
#weather{
    text-align:left;
    font-size: 18px;
    padding: 1em;
    padding-top:0.4em;
}

.weatherGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.weatherGrid p{
    margin:5px;
}


.weatherGrid :nth-child(1){
    grid-area: 1/1/2/2;
    text-align: left;
    margin-right:10px;
}

.weatherGrid :nth-child(2){
    grid-area: 1/2/2/3;
    text-align: left;
    margin-left: 20px;
}

.weatherGrid :nth-child(3){
    grid-area: 2/1/3/2;
    text-align: left;
    margin-right:10px;
}

.weatherGrid :nth-child(4){
    grid-area: 2/2/3/3;
    text-align: left;
    margin-left: 20px;

}

#weather h2{
    margin-bottom: 30px;
}

.temp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top:-20px;
}

.temp img{
    grid-column: 1/2;
    margin: 0 auto;
}

.temp p{
    grid-column: 2/3;
    margin-top: 42px;
}

#cloudy{
    border-bottom: 1px solid #eee;
    padding-bottom:10px;
    text-align: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: -10px;
}

#credit{
    font-size: 16px;
    margin-top: 40px;
}

#weather-image {
    width: 80px;
    height: 0 auto;
}

#weather-image:hover {
    opacity: .8;
    transform: scale(1.3);
}

/* Discorver page */

  #heading-discorver {
    color: #39d346;
    background-color: #666;
    margin-left: 8%;
    margin-right: 8%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 8px;
  }

  #frontside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  #frontside:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  #inside, #Statistics {
    display:inline;
    margin-left: 3%;
    margin-right: auto;
    width: 46%;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  #inside:hover, #Statistics:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  #main-statistics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  #main-statistics:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  main picture#Front-Side {
    width: 50%;
    border: 8px red deshed;
  }

  
  picture img[data-src] {
    filter: blur(0.2em);
    width: 48%;
    height: 30%;
  }
  
  #shade {
    color:red;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    font-size: large;
    background-color: rgb(245, 245, 7);
    border: 1px solid #ddd; 
  }

  /*---- Join------*/

form fieldset {
    margin: 2rem 40px;
    border: 1px solid rgb(105, 128, 196);
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: royalblue;
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: large;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #39d346;
    font-size: 1rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(85, 85, 85, 0.103);
}
form label.sbs {
    display:block;
    padding: .75;
}
form input.submitBtn {
    border: none;
    background-color: #24799D;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 4%;
    width: 50%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: rgba(133, 21, 45, 0.418) solid 6px;
}
form label.top input:required:valid {
    border-left: rgba(47, 0, 255, 0.89) 6px;
}
#shade2 {
    text-align:left;
    margin-left: 5%;
    text-shadow: #39d346;
    text-decoration: underline;
}
/* --- Thanks Page ----*/
#submission {
    color: #39d346;
    text-shadow: #d3395a;
    text-align: center;
} 
#thanks, #thanks2 {
    color: #6b313e;
    margin-left: 10%;
    margin-right: 10%;
}
main picture.handshake {
    width: 30%;
    margin-left: 40%;
}
main picture.handshake img {width: 100%; border-radius: 20px;}

/******* DIRECTORY PAGE ********/
div.dirgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    max-width:1350px;
    text-align: center;
}

div.dirgrid section{
margin: 1rem;
padding: 1rem 1.5rem 0.5rem 1.5rem;
display: flex;
flex-direction: column;
text-align: center;
border-radius: 10px;
border: 1px solid #555;
justify-items: center;
}

.dirgrid section p{
margin: 0.5rem 0 0.5rem 0;
}

.dirgrid section p.name{
display: none;
}

.dirgrid section img{
margin-bottom: 15px;
}
/* -----LIST------ */

.dirlist section{
display: block;
text-align: center;
line-height:1rem;
padding: 0.05rem;
background-color: #cae6cc;

} 

.dirlist img{
height: 40px;
margin-top: 10px;
margin-bottom:0;
}

.dirlist section:nth-child(even){
background-color: #fff;
}

.dirlist section:nth-child(9){
margin-bottom: 25px;
}

.dirlist section:nth-child(1){
margin-top: 25px;
}

/* GRID/LIST BUTTONS */

#btnContainer{
margin: 18px auto 20px auto;
text-align: center;
font-size: 18px;
}

#listbtn{
margin-right: 20px;
}

.btn:hover {
background-color: #ddd;
}

.btn.active{
color: #fff;
background-color: #666;

}

.btn {
border: none;
outline: none;
padding: 12px 16px;
background-color: #f1f1f1;
cursor: pointer;
}