@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Permanent+Marker&display=swap');
.homee-title {
    font-family:'Permanent Marker', 'Courier Prime', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h1 {
    color:whitesmoke;
    text-align: center;
    animation: blinker 1.5s linear infinite;
    font-size: 35px;
    background-color: red;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom:20px;
    text-shadow: 0.5px 0.9px black;
    
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: red;
    padding-top: 10px;
    padding-bottom:10px;
    text-shadow: 0.5px 0.5px black;
}
footer {
    background-color:black;
    color: white;
    padding: 25px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.shool img {
    padding-left: 40px;
    border-radius: 2%;
    margin-left: 60%;

}
.cover-img {
    width: 20%;
    height: 320px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    border-radius: 10px;
    margin-left: 40%;
}
#lessons-list {
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    line-height: 60px;
    border-radius: 10px;
    list-style-type: circle;
    font-family:Courier Prime ;
    
}
.home-grid {
    background-color: aquamarine;
    padding-top: 20px;
    padding-bottom:0px;
}
.content {
    background-color: red;
}